numpy==1.26.4
pandas==2.2.2
matplotlib==3.8.4
seaborn==0.13.2
scikit-learn==1.2.2
streamlit
joblib
pyyaml
mysql-connector-python
python-dotenv
tensorflow
keras_tuner
openpyxl
imblearn
prophet
torch
transformers>=4.42
-e .