numpy
pandas
matplotlib
seaborn
scikit-learn
streamlit
joblib
pyyaml
mysql-connector-python
python-dotenv
tensorflow
keras-tuner
openpyxl
imbalanced-learn
prophet==1.1.5
cmdstanpy
torch
transformers>=4.42